@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Manrope:wght@200..800&display=swap');


/*@font-face {*/
/*  font-family: 'Bezier Sans';*/
/*  src: url('../font/BezierSans-ExtraBold.woff2') format('woff2'), url('../font/BezierSans-ExtraBold.woff') format('woff');*/
/*  font-weight: 1;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Bezier Sans';*/
/*  src: url('../font/BezierSans-Light.woff2') format('woff2'), url('../font/BezierSans-Light.woff') format('woff');*/
/*  font-weight: 300;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Bezier Sans';*/
/*  src: url('../font/BezierSans-Regular.woff2') format('woff2'), url('../font/BezierSans-Regular.woff') format('woff');*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Bezier Sans';*/
/*  src: url('../font/BezierSans-Bold.woff2') format('woff2'), url('../font/BezierSans-Bold.woff') format('woff');*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Bezier Sans';*/
/*  src: url('../font/BezierSans-ExtraBold.woff2') format('woff2'), url('../font/BezierSans-ExtraBold.woff') format('woff');*/
/*  font-weight: 800;*/
/*  font-style: normal;*/
/*}*/

:root {
  --Manrope: "Manrope", sans-serif;
  --wrap-m: 32px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.owl-carousel .owl-item img {
  width: auto;
}

body {
  font-family: "Commissioner", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
}

.running-text-container {
  width: 100%;
  background: #208D79;
  height: 28px;
  display: flex;
  align-items: center;
}

.slogan {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--Manrope);
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;

}

.header__inner {
  height: 82px;
  background: #FFFFFF;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
}

.header__inner .container {
  max-width: 1370px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 66px;
  background: #FFFFFF;
  border-radius: 100px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.header__nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__nav li {
  display: flex;
}

.header__nav li a {
  font-family: var(--Manrope);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: rgba(55, 55, 55, 0.6);
  text-decoration: none;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 23px;
}

.header__phone-link {
  font-family: var(--Manrope);
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #208D79;
  text-decoration: none;
}

.header__phone-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  height: 38px;
  border: 1px solid #006465;
  border-radius: 100px;
  font-family: var(--Manrope);
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #208D79;
  text-align: center;
  text-decoration: none;
}

.header__social {
  display: flex;
  align-items: center;
}

.header__social a {
  text-decoration: none;
}

.header__burger {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 90px 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.hero__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.hero__brands {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.hero__brands span {
  font-family: var(--Manrope);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__title {
  font-weight: 400;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 787px;
  margin-top: 80px;
}

.hero__btn {
  width: 246px;
  height: 246px;
  background: linear-gradient(147.26deg, rgba(255, 255, 255, 0.08) 11.32%, rgba(255, 255, 255, 0) 75.27%), #208D79;
  border-radius: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 48px;
}

.hero__btn span {
  font-weight: 300;
  font-size: 26.1239px;
  line-height: 35px;
  color: #FFFFFF;
  text-align: center;
}

.hero__desc {
  margin-top: -23px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__desc-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.hero__desc-item span {
  font-family: var(--Manrope);
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.hero__count {
  display: flex;
  gap: 8px;
  width: 100%;
  margin-top: 80px;
}

.hero__count-item {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  padding: 15px 17px;
  width: 100%;
  max-width: 320px;
  height: 176px;
}

.hero__count-item b {
  flex-grow: 1;
  font-weight: 400;
  font-size: 36px;
  line-height: 63px;
  letter-spacing: -2.698px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__count-item span {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.result {
  display: flex;
  flex-direction: column;
  margin: 0 var(--wrap-m);
  margin-top: 40px;
  background: #F5F5F5;
  border-radius: 40px;
  padding: 80px 0;
}

.result__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #373737;
  width: 100%;
  max-width: 683px;
}

.muted {
  opacity: 0.6;
}

.slider-counter {
  width: 230px;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-family: var(--Manrope);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #373737;
}

.current-slide {

}

.total-slides {

}

.result__slider {
  margin-top: 52px;
}

.result__item {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 30px;
}

.result__item-left {
  width: 100%;
  max-width: 436px;
}

.result__item-address {
  display: flex;
  align-items: center;
  gap: 17px;
}

.result__item-address-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.result__item-address-right b {
  font-family: var(--Manrope);
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #373737;
}

.result__item-address-right small {
  font-family: var(--Manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: rgba(55, 55, 55, 0.6);
}

.result__item-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: var(--Manrope);
  color: #208D79;
  font-weight: 700;
  margin-top: 29px;
}

.result__item-price small {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
}

.result__item-price b {
  font-size: 26px;
  line-height: 140%;
}

.result__item-user {
}

.result__item-user {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: 30px;
}

.result__item-user-right {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.result__item-user img {
  width: 64px;
  height: 64px;
  min-width: 64px;
  border-radius: 50%;
}

.result__item-user-right b {
  font-family: var(--Manrope);
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #373737;
}

.result__item-user-right small {
  font-family: var(--Manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: rgba(55, 55, 55, 0.6);
}

.result__item-info {
  display: flex;
  flex-direction: column;
  padding: 18px 16px;
  gap: 7px;
  background: #F5F5F5;
  border-radius: 20px;
  margin-top: 41px;
}

.result__item-info-row {
  display: flex;
  justify-content: space-between;
  font-family: var(--Manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #373737;
}

.result__item-info-row span {
}

.result__item-info-row b {
  font-weight: 700;
  line-height: 120%;
  text-align: right;
}

.c-green {
  color: #208D79;
}

.owl-carousel .owl-item .result__item-address img {
  width: 48px;
  height: 48px;
}

.result__item-right {
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel .owl-item .result__item-mob-img {
  display: none;
}

.owl-carousel .owl-item .result__item-right img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.result .owl-carousel .owl-nav button.owl-prev,
.result .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 33px;
  height: 33px;
  background: #E8E8E8;
  border-radius: 33px;
}

.result .owl-carousel .owl-nav button.owl-prev.disabled,
.result .owl-carousel .owl-nav button.owl-next.disabled {
  opacity: 0.4;
}

.result .owl-carousel .owl-nav button.owl-prev {
  left: 520px
}

.result .owl-carousel .owl-nav button.owl-next {
  right: 53px;
}

.btn__white {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 100px;
  width: 100%;
  font-family: var(--Manrope);
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #208D79;
}

.result__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 128px;
  background: #208D79;
  border-radius: 24px;
  padding: 10px 50px;
  margin-top: 21px;
}

.result__bottom span {
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  max-width: 538px;
}

.result__bottom .btn__white {
  max-width: 375px;
}

.indices {
  display: flex;
  flex-direction: column;
  margin: 0 var(--wrap-m);
  margin-top: 40px;
  background: url("../img/indices-bg-left.png"), url("../img/indices-bg-right.png"), linear-gradient(78.98deg, #259485 23.31%, #256257 150.83%);
  background-repeat: no-repeat;
  background-position: left bottom, right top, center center;
  border-radius: 40px;
  padding: 80px 0 134px;
}

.indices__container {
}

.indices__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFEFEF;
}

.indices__content {
  margin-top: 52px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.indices__col {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 328px;
}

.indices__center {
  border-radius: 30px;
  width: 100%;
  max-width: 464px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indices__center img {
  width: 100%;
  object-fit: cover;
}

.indices__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 236px;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(12px);
  border-radius: 30px;
  color: #FFFFFF;
  padding: 28px 32px;
}

.indices__item b {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -2.698px;
  text-transform: uppercase;
  flex-grow: 1;
}

.indices__item span {
  font-family: var(--Manrope);
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: -0.01em;
  opacity: 0.6;
}

.invest {
}

.invest {
  display: flex;
  flex-direction: column;
  margin: 0 var(--wrap-m);
  margin-top: 40px;
  background: #F5F5F5;
  border-radius: 40px;
  padding: 80px 0;
}

.invest__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invest__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #373737;
  width: 100%;
  max-width: 606px;
}

.invest__desc {
  width: 100%;
  max-width: 372px;
  font-family: var(--Manrope);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #383838;
}

.invest__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 26px;
  margin-top: 54px;
}

.invest__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 373px;
  min-height: 185px;
  background: #FFFFFF;
  border-radius: 24px;
  padding: 28px 22px 19px;
  color: #383838;
  gap: 6px;
}

.invest__item-top {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.invest__item-top b {
  font-family: var(--Manrope);
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #208D79;
}

.invest__item-top small {
  font-family: var(--Manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
}

.invest__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invest__item-bottom small {
  font-family: var(--Manrope);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.01em;
  opacity: 0.5;
}

.invest__item._darck {
  background: #208D79;
  border-radius: 24px;
  color: #FFFFFF;
}

.invest__item-darck-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 230px;
  gap: 10px;
}

.invest__item-darck-center b {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.invest__item-darck-center small {
  font-family: var(--Manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
}

@media (max-width: 768px) {
  .owl-carousel .owl-item .result__item-mob-img {
    display: flex;
  }

  .result__item-right {
    display: none;
  }
}